@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Tangerine:wght@700&family=Cabin+Sketch:wght@400;700&family=EB+Garamond:ital@0;1&family=Libre+Franklin:wght@500..900');

/**** document ****/

::selection {
  color: white;
  background: #559;
}

html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background: #eef;
  background: linear-gradient(#eef9, #eef9), url(clouds.jpg) #eef;
}

head {
  display: block;
  margin: 0;
  padding: 0;
  height: 0;
  width: 0;
}

head * {
  display: none;
}

head meta:nth-of-type(1), head meta:nth-of-type(2) {
  display: block;
  width: 648px;
  height: 648px;
  position: fixed;
  bottom: 0;
  right: -320px;
  z-index: 2;
  transition: opacity 2s ease, margin-left 0.8s ease;
}

head meta:nth-of-type(1) {
  background: url(silver.png) center/100%;
  animation: 5s ease silverfadein backwards;
  filter: drop-shadow(0 0 5px #000a);
}

head meta:nth-of-type(2) {
  background: url(silver-moon-eyes.png) center/100%;
  animation: 5s ease silvemooneyesfadein backwards;
  opacity: 0;
}

head meta:nth-of-type(2):hover {
  opacity: 1;
}

body::before {
  content: '';
  position: absolute;
  background: linear-gradient(#0008, #0000);
  top: 0;
  left: 0;
  right: 0;
  height: 150vh;
  visibility: hidden;
  animation: 5s ease fadeout backwards;
}

@media (max-height: 568px)
{
  head meta:nth-of-type(1), head meta:nth-of-type(2) {
    bottom: auto;
    top: -80px;
  }
}


/**** header and intro animation ****/

header {
  position: relative;
  height: 20em;
  margin: 0 0 15em 0;
  padding: 0;
  background: url(clouds.jpg) fixed #669;
  box-shadow: 0 -50px 100px #0004 inset, 0 -20px 40px #0004 inset, 0 10px 200px #0004, 0 10px 40px #0004;
  z-index: 1;
}

header::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.3em;
  height: 0.6em;
  background: url(rule.svg) repeat-x center/110em 0.6em;
}

header::before {
  content: '';
  position: absolute;
  background: #0008;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  animation: 5s ease fadeout backwards;
}

h1 {
  font-size: 1em;
  color: transparent;
  position: relative;
  top: 10.2em;
  margin: 0 auto;
  padding: 10em 0 0 10em;
  width: 20em;
  height: 10em;
  transition: top 0.3s ease, font-size 0.3s ease;
}

@supports (-webkit-appearance: none) {
  h1 {
    animation: 2s ease fontsizefix backwards;
  }
}

@-moz-document url-prefix() {
  h1 {
    animation: none;
  }
}

h1::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 5em;
  height: 20em;
  width: 20em;
  background: url(moon.svg) no-repeat center/contain;
  border-radius: 9.85em;
  box-shadow: 0 0 0 #2220 inset;
  filter: drop-shadow(0 -10px 10px #0004);
  transition: box-shadow 1s ease;
  animation: 5s ease moonfadein backwards;
}

h1:hover::before {
  box-shadow: -2em -2em 5em #2228 inset;
}

h1::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 15em;
  width: 30em;
  background: url(title.svg) no-repeat center/contain;
  transition: filter 1s ease;
  animation: 4s ease 1s titlefadein backwards;
}

h1:hover::after {
  filter: drop-shadow(2px 2px 5px #0008);
}

@keyframes moonfadein {
  0% {
    box-shadow: -25em -25em 20em #222f inset;
  }
  
  70% {
    box-shadow: 0 0 0 #222f inset;
  }
  
  75% {
    box-shadow: 0 0 0 #2220 inset;
  }
}

@keyframes titlefadein {
  0% {
    filter: blur(4em);
    transform: perspective(300px) rotateY(-10deg);
    clip: rect(auto, 10em, auto, -20em);
  }
  
  37.5% {
    filter: none;
    transform: perspective(300px) rotateY(0);
  }

  56.25% {
    filter: none;
    transform: perspective(300px) rotateY(0);
    clip: rect(auto, 50em, auto, -20em);
  }
}

@keyframes silverfadein {
  from { filter: drop-shadow(0 0 5px #000a) brightness(0) }
  to { filter: drop-shadow(0 0 5px #000a) brightness(1) }
}

@keyframes silvemooneyesfadein {
  from { filter: brightness(0) }
  to { filter: brightness(1) }
}

@keyframes navfadein {
  from { opacity: 0 }
  to { opacity: 0.9 }
}

@keyframes fadein {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes fadeout {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fontsizefix {
  from { font-size: 1em }
  to { font-size: 1em }
}

@media (max-width: 35em)
{
  h1 {
    font-size: 0.8em;
    top: 15.2em;
  }

  @keyframes fontsizefix {
    from { font-size: 0.8em }
    to { font-size: 0.8em }
  }
}

@media (max-width: 25em)
{
  h1 {
    font-size: 0.6em;
    top: 23.5em;
  }

  @keyframes fontsizefix {
    from { font-size: 0.6em }
    to { font-size: 0.6em }
  }
}

@media (max-width: 20em)
{
  h1 {
    font-size: 0.4em;
    top: 40.2em;
  }

  @keyframes fontsizefix {
    from { font-size: 0.4em }
    to { font-size: 0.4em }
  }
}


/**** navigation ****/

nav {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #88ce;
  box-shadow: 0 0 10px #87b, 0 -5px 10px #0002 inset;
  z-index: 4;
  opacity: 0.9;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  font-family: 'Cabin Sketch', sans-serif;
  font-size: 1.1em;
  animation: 5s ease navfadein backwards;
}

nav:hover {
  opacity: 1;
}

nav ol {
  list-style: none;
  margin: 0;
  padding: 0.5em 0;
}

nav li:first-child {
  display: none;
}

nav li,
nav li:only-child {
  display: inline;
}

nav li a {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 0.2em 0.2em 0.2em 2em;
  transition: padding-left 0.3s ease, padding-right 0.3s ease, text-shadow 0.3s ease;
}

nav li a:hover {
  padding: 0.2em 0.05em 0.2em 2.15em;
  text-shadow: 1px 1px 5px gray;
}

nav li a::before {
  content: '';
  display: block;
  position: absolute;
  width: 1em;
  height: 1em;
  margin-left: -1.4em;
  background: url(paw.svg) no-repeat center/1em;
  opacity: 0.2;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, filter 0.3s ease;
}

nav li a:hover::before {
  opacity: 1;
  transform: rotate(-20deg) scale(1.1) translate(-0.1em, 0);
  filter: drop-shadow(1px 1px 5px gray);
}


/**** main ****/

main {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 40em;
  position: relative;
  z-index: 3;
  animation: 5s ease fadein backwards;
}

h2 {
  margin: 0;
  padding: 1.5em 0 0.5em 0;
  font-family: 'Cabin Sketch', sans-serif;
                                                          font-family: Tangerine, sans-serif;
                                                          font-size: 2.5em;
  text-shadow: 2px 2px 10px #0007;
}

p {
  font-family: 'EB Garamond', serif;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  hyphens: auto;
  text-align: justify;
}

p + p {
  text-indent: 1em;
}

a {
  color: #008;
  text-decoration: none;
  transition: text-shadow 0.3s ease;
}

a:hover {
  text-shadow: 0 0 5px #88f;
}


/**** screen size adaptations ****/

@media (hover: none) {
  header, body::before {
    width: 100%;
    padding-right: 4em;
  }

  nav {
    padding-right: 4em;
  }

  footer::after {
    content: '';
    width: 4em;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -4em;
    background: #955;
    box-shadow: -15px 15px 10px #0008 inset;
  }
}

@media (max-width: 72em)
{
  head meta:nth-of-type(1), head meta:nth-of-type(2) {
    right: auto;
    left: 51em;
  }
}

@media (max-width: 66em)
{
  head meta:nth-of-type(1), head meta:nth-of-type(2) {
    margin-left: 17em;
  }
}


/**** order ****/

#bestellung {
  padding-left: 15%;
  transition: padding 0.5s ease;
}

#bestellung h2 {
  display: none;
}

#bestellung p {
  position: relative;
  margin: auto;
  width: 14.65em;
  font-family: "Libre Franklin", sans-serif;
  animation: 2s ease fadein backwards;
}

#bestellung a {
  position: relative;
  display: block;
  color: transparent;
  padding: 3em 9em 0 0;
  height: 11.1em;
  width: 5.65em;
  z-index: 1;
}

#bestellung p::after,
#bestellung a::before {
  content: 'Online bestellen';
  position: relative;
  display: block;
  color: #008;
  background: #77d;
  width: 4.65em;
  border-radius: 1em;
  box-shadow: 0 0 10px #0004, 0 0 20px #0004 inset;
  transition: margin 0.5s ease, padding 0.5s ease;
}

#bestellung p::after {
  padding: 1.5em 0.5em 1.5em 3em;
  margin: -10em 0 4.5em 6em;
}

#bestellung a::before {
  padding: 1.5em 0.5em 1.5em 0;
  margin-left: 1em;
  transform-origin: left;
  transform: perspective(1000px) scale(1.03) translate(-0.2em, 0.2em) rotateX(10deg) rotateZ(-1deg) rotateY(-10deg);
  transition: margin 0.5s ease, padding 0.5s ease;
}

#bestellung p:hover::after {
  margin-left: 1em;
  padding-left: 0;
}
  
#bestellung a:hover::before {
  margin-left: 5em;
  padding-left: 3em;
}

#bestellung p::before,
#bestellung a::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 8.65em;
  height: 14.1em;
  filter: drop-shadow(0 0 5px #000a);
  transform-origin: left;
  transform: perspective(1000px);
  transition: transform 0.3s ease;
  z-index: 1;
}

#bestellung p::before {
  background: url(book-open.png) no-repeat;
  background-size: contain;
}

#bestellung a::after {  
  background: url(book-cover.png) no-repeat;
  background-size: contain;
}

#bestellung p:hover::before {
  transform: perspective(1000px) scale(1.03) translate(-0.2em, 0.2em) rotateX(10deg) rotateZ(-1deg) rotateY(-10deg);
}

#bestellung a:hover::after {
  transform: perspective(1000px) scale(1.03) translate(-0.2em, 0.2em) rotateX(10deg) rotateZ(-1deg) rotateY(-40deg);
}

@media (min-width: 70em) {
  #bestellung p {
    position: absolute;
    left: -10.5em;
    left: -17vw;
    margin-top: -20em;
  }
}

@media (max-width: 25em) {
  #bestellung {
    padding-left: 0;
  }
}


/**** summary ****/

#inhalt p {
  text-align: center;
  hyphens: none;
  text-indent: 0;
  margin: 0.5em 0;
  font-family: Kalam, sans-serif;
  font-weight: 300;
}


/**** about ****/

#autorin p {
  text-indent: 0;
  margin-top: 0.5em;
}


/**** characters ****/

                                                      #charaktere {
                                                        margin: 0 4px;
                                                        position: relative;
                                                      }

                                                      #charaktere h2 {
                                                        margin: 0 -4px;
                                                      }

#charaktere ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#charaktere li {
  display: inline-block;
}

                                                      #charaktere li {
                                                        background: #fff6;
                                                        border-radius: 0.5em;
                                                        border: 6px double #fff6;
                                                        padding: 10px;
                                                        margin: 0 -16px;
                                                        box-shadow: 2px 2px 40px #64728d;
                                                      }
#charaktere li + li {
  margin-top: 3em;
}

#charaktere h3 {
  display: none;
}

#charaktere img {
  float: left;
  position: relative;
  margin: 0 2em 1em 0;
  width: 50%;
  height: auto;
  box-shadow: 2px 2px 40px #64728d;
  transform: perspective(700px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 2;
}

#charaktere h3 + img {
  position: absolute;
  left: 0;
  box-shadow: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 3;
}

#charaktere h3 + img:hover {
  padding: 0 1em 1em 0;
  opacity: 0;
}

#charaktere h3 + img:active {
  padding: 0;
  opacity: 1;
}

#charaktere img:hover, #charaktere img:hover + img {
  transform: perspective(700px) rotate3d(-1, 1, 0, 5deg) rotate(-1deg) translate(-3px, -3px);
  box-shadow: 5px 5px 50px #64728d;
}

#charaktere h3 + img:hover {
  box-shadow: none;
}

@media (max-width: 35em) {
  #charaktere img {
    transform: perspective(1000px);
  }

  #charaktere img:hover, #charaktere img:hover + img {
    transform: perspective(1000px) rotate3d(-1, 1, 0, 5deg) rotate(-1deg) translate(-2px, -1px);
    box-shadow: 5px 5px 50px #64728d;
  }
}

@media (hover: hover) and (min-width: 35em) {
  #charaktere img {
    cursor: zoom-in;
  }

  #charaktere img:active, #charaktere img:active + img {
    transform: scale(1.5) translate(20%, 0);
    z-index: 3;
  }

  #charaktere h3 + img:active {
    z-index: 4;
  }
}

#charaktere p {
  opacity: 0.5;
  filter: blur(5px);
  transition: opacity 0.3s ease;
  transition: opacity 0.3s ease, filter 0.3s ease;
}

#charaktere :checked ~ p {
  opacity: 1;
  filter: none;
}

#charaktere input {
  display: none;
}

#charaktere p label {
  cursor: inherit;
}

#charaktere input + label {
  display: block;
  position: absolute;
  padding: 1em 0.5em;
  margin: 1.2em 0.5em 0 1.5em;
  right: 0;
  left: 50%;
  text-align: center;
  background: #955;
  color: white;
  font-family: 'Cabin Sketch', sans-serif;
  font-size: 2em;
  border-radius: 0.5em;
  z-index: 1;
  box-shadow: 0 0 10px #87b8, 0 0 20px #0004 inset;
  cursor: pointer;
  transform: rotate(-15deg);
  transition: visibility 0.3s ease, background 0.3s ease, opacity 0.3s ease;
  transition: visibility 0.3s ease, background 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  transition: visibility 0.3s ease, background 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease, filter 0.3s ease;
}

#charaktere input + label:hover {
  background: #a66;
  transform: rotate(-18deg) scale(1.02);
  box-shadow: 0 0 20px #87b8, 0 0 20px #0003 inset;
}

#charaktere input:checked + label {
  filter: blur(5px);
  transform: rotate(40deg) scale(0);
  box-shadow: 0 0 10px #87b8, 0 0 20px #0004 inset;
  opacity: 0;
  visibility: hidden;
}

#charaktere p label {
  display: block;
}

@media (max-width: 35em)
{
  #charaktere img {
    float: none;
    width: 100%;
    margin: 0 0 1em 0;
  }

  #charaktere input + label {
    margin: 0.7em 0.5em;
    padding: 0.7em 0.5em;
    right: 0;
    left: 0;
    transform: rotate(-5deg);
  }

  #charaktere input + label:hover {
    transform: rotate(-8deg) scale(1.02);
  }

  #charaktere input:checked + label {
    transform: rotate(40deg) scale(0);
  }
}


/**** extract ****/

#leseprobe p {
  position: relative;
  height: 366px;
  z-index: 1;
}

#leseprobe a {
  display: block;
  position: relative;
  padding-top: 100px;
  height: 266px;
  color: transparent;
  text-shadow: none;
  z-index: 2;
}

#leseprobe a::before,
#leseprobe a::after,
#leseprobe abbr::before,
#leseprobe abbr::after,
#leseprobe p::before,
#leseprobe p::after  {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 229px;
  height: 355px;
  border-radius: 4px;
  background: no-repeat center/100%;
  box-shadow: 1px 1px 7px #64724d inset;
  transform: perspective(300px);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;
}

#leseprobe a::before {
  z-index: 6;
  background-image: url(extract-1.png);
  border-radius: 0;
  box-shadow: 1px 1px 11px #64728d, 1px 1px 7px #64724d inset;
}

#leseprobe a::after {
  z-index: 5;
  background-image: url(extract-2.png);
}

#leseprobe abbr::before {
  z-index: 4;
  background-image: url(extract-3.png);
}

#leseprobe abbr::after {
  z-index: 3;
  background-image: url(extract-4.png);
}

#leseprobe p::before {
  z-index: 2;
  background-image: url(extract-5.png);
}

#leseprobe p::after {
  z-index: 1;
  background-image: url(extract-6.png);
}

#leseprobe p:hover a::before,
#leseprobe p:hover a::after,
#leseprobe p:hover abbr::before,
#leseprobe p:hover abbr::after,
#leseprobe p:hover::before,
#leseprobe p:hover::after {
  border-radius: 4px;
  box-shadow: 1px 1px 11px #64728d, 1px 1px 7px #64724d inset;
}

#leseprobe p:hover a::before {
  transform: perspective(300px) rotate3d(0, 1, -1, 10deg);
}

#leseprobe p:hover a::after {
  transform: perspective(300px) translate(30px) rotate3d(0, 1, -1, 5deg);
}

#leseprobe p:hover abbr::before {
  transform: perspective(300px) translate(60px) rotate3d(0, 1, -1, 0);
}

#leseprobe p:hover abbr::after {
  transform: perspective(300px) translate(90px) rotate3d(0, 1, -1, -5deg);
}

#leseprobe p:hover::before {
  transform: perspective(300px) translate(120px) rotate3d(0, 1, -1, -10deg);
}

#leseprobe p:hover::after {
  transform: perspective(300px) translate(150px) rotate3d(0, 1, -1, -15deg);
}


/**** book trailer ****/

#buchtrailer p {
  position: relative;
  padding-top: 56.25%;
  box-shadow: 1px 1px 11px #64728d;
}

#buchtrailer p::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 66%;
  padding-top: 18%;
  z-index: 1;
  opacity: 0.05;
  background: url(youtube.svg) no-repeat center/contain;
}

#buchtrailer a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 55%;
  padding-top: 25%;
  text-align: center;
  z-index: 2;
}

#buchtrailer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border: none;
}


/**** footer ****/

footer ::selection {
  color: white;
  background: #800;
}

footer {
  position: relative;
  z-index: 3;
}

footer::before {
  display: block;
  content: url(squiggle.svg);
  line-height: 0;
  margin-bottom: -1px
}

footer ul {
  margin: 0;
  padding: 2em;
  background: #955;
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  height: 6em;
  justify-content: flex-end;
  align-items: flex-end;
  transition: margin 0.3s ease;
}

footer li {
  height: 2em;
  line-height: 2em;
}

footer li:nth-of-type(-n + 3) {
  width: 8em;
}

footer li:nth-of-type(n + 4) {
  width: 13em;
  text-align: right;
}

footer a {
  position: relative;
  margin-left: 2em;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  color: black;
  text-decoration: none;
  transition: font-weight 0.3s ease;
}

footer a:hover {
  text-shadow: none;
}

@supports (font-variation-settings: "wght" 900)
{
  footer a:hover {
    font-weight: 900;
  }
}

footer a::after {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  opacity: 0;
  background: black;
  margin-top: -0.4em;
  transition: width 0.3s ease, opacity 0.3s step-end;
}

footer a:hover::after {
  content: '';
  width: 100%;
  opacity: 1;
  transition: width 0.3s ease, opacity 0.3s step-start;
}

footer li:nth-of-type(n + 4) a::after {
  left: auto;
  right: 0;
}

footer a::before {
  position: absolute;
  top: 0;
  margin: 0.1em 0 0 -1.4em;
  padding-right: 0.4em;
  width: 1em;
  height: 1em;
  line-height: 1em;
  transition: transform 0.3s ease;
}

footer a:hover::before {
  transform: scale(1.2);
}

footer li:nth-of-type(1) a::before {
  content: url(instagram.svg);
}

footer li:nth-of-type(2) a::before {
  content: url(youtube.svg);
}

footer li:nth-of-type(3) a::before {
  content: url(facebook.svg);
}

@media (max-width: 35em)
{
  footer ul {
    display: block;
    padding: 2em 2em 3em 2em;
    height: auto;
  }

  footer li:nth-of-type(n) {
    text-align: left;
  }

  footer li:nth-of-type(n) a::after {
    left: 0;
    right: auto;
  }

  footer li:nth-of-type(4) {
    margin-top: 1em;
  }
}

@media (min-width: 40em)
{
  footer ul { margin-top: -2em }
}

@media (min-width: 60em)
{
  footer ul { margin-top: -4em }
}

@media (min-width: 80em)
{
  footer ul { margin-top: -6em }
}

@media (min-width: 100em)
{
  footer ul { margin-top: -8em }
}

@media (min-width: 150em)
{
  footer ul { margin-top: -10em }
}


/**** imprint and data privacy statement ****/

#impressum head meta:nth-of-type(1),
#impressum head meta:nth-of-type(2),
#impressum body::before,
#impressum header::before,
#impressum h1::before,
#impressum h1::after,
#impressum nav,
#impressum main,
#datenschutzerklärung head meta:nth-of-type(1),
#datenschutzerklärung head meta:nth-of-type(2),
#datenschutzerklärung body::before,
#datenschutzerklärung header::before,
#datenschutzerklärung h1::before,
#datenschutzerklärung h1::after,
#datenschutzerklärung nav,
#datenschutzerklärung main {
  animation: none;
}

#impressum h2,
#datenschutzerklärung h2 {
  font-family: 'Cabin Sketch', sans-serif;
  font-size: 1.6em;
}

#datenschutzerklärung h3,
#datenschutzerklärung h4 {
  font-family: 'Cabin Sketch', sans-serif;
  text-shadow: 1px 1px 8px #0007;
}

#impressum p + p {
  text-indent: 0;
  margin-top: 0.5em;
}
